@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
html {
    position: relative;
    min-height: 100%;
}

div {
    font-family: 'Oswald', sans-serif;
}
footer {
    background-color: #b8b8b8;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
} 

body {
	background-color: white;
}
/*<--------------Class Selectors----------------->*/
.img-responsive {
    border-radius: 100%;
    height: "95%";
    width: "100%";
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-size: 24px;
}
.carousel-inner img {
    width: 60%; /* Set width to 100% */
    margin: auto;
    min-height: 33%;
}
.eventbackground {
    height: 100%;
}





/*<--------------ID Selectors----------------->*/
#jumboTitle {
    font-size: 100px;
}
#eventblock {
    background-image: url("images/morebetterlogo2.png");
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: width="304" height="236";
}
#updateEventForm {
    color: black;
}

#carousel-text {
	font-size: 80px;
	font-style: oblique;
	font-variant: small-caps;
	text-shadow: 3px 3px black;
	color: black;
}

#homepage-mid {
	font-size: 75px;
	font-style: oblique;
	font-variant: small-caps;
	text-shadow: 2px 2px silver;
	color: black;

}

#homepage-bottom {
	font-size: 55px;
	font-style: oblique;
	font-variant: small-caps;
	text-shadow: 2px 2px silver;
	color: black;
	margin-bottom: 20px;
	padding-bottom: 30px;
}

#eventblockdiv {
	padding-bottom: 65px;
}
/* .bg-overlay {
    background: url("https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    background-color: black;
} */


/* .bg-no-overlay {
    background: url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    height: 450px;
    padding-top: 50px; */